@import 'tailwindcss';

@theme {
  --color-primary: #c4c895;
  --color-primary-hover: #a3b06c;

  --color-secondary: #000;
  --color-accent: #f39660;
  --color-accent-rgb: 241, 181, 147;

  --color-text: #1e1f20; /* #e0e0e0*/
  --color-text-muted: #3a3a3a; /* #c0c0c0*/

  --color-background: #faf6f0; /* #1e1f20*/
  --color-background-muted: #f0ebe3; /* #2a2a2a*/

  --color-card: #ffffff; /* #2a2a2a*/
}

body {
  @apply m-0 p-0 bg-background text-text box-border;
  scrollbar-gutter: stable;
  font-family: 'Montserrat Variable', sans-serif;
}

strong {
  @apply font-bold text-primary/85 text-pretty;
}

p {
  @apply mb-1  tracking-wider;
  line-height: 1.5;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  backdrop-filter: blur(10px);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

#navbar {
  animation: navbarAnimation linear both;
  animation-timeline: scroll();
  animation-range: 0 500px;
}

@keyframes navbarAnimation {
  to {
    box-shadow: 0 2px 10px rgba(var(--color-accent-rgb), 0.2),
      0 4px 20px rgba(var(--color-accent-rgb), 0.15);
    background: var(--color-background);
    backdrop-filter: blur(10px);
  }
}
