---
import Users from '@/assets/icons/users.astro'
---

<section class="py-16 bg-primary/15">
  <div class="container mx-auto px-4">
    <div class="max-w-3xl mx-auto text-center flex flex-col items-center">
      <span class="text-primary mx-auto text-center mb-6"
        ><Users size={64} /></span
      >
      <h2 class="text-3xl font-bold text-text mb-4">
        ¿Lista para Comenzar tu Transformación?
      </h2>
      <p class="text-lg text-text-muted mb-8">
        Agenda tu primera consulta y descubre cómo puedo ayudarte a alcanzar tus
        objetivos de salud
      </p>

      <a
        href="/#contacto"
        class="bg-primary text-white px-3 py-2 rounded-xl hover:bg-primary-hover transition-colors duration-300 mt-8"
        >Agendar Consulta Ahora</a
      >
    </div>
  </div>
</section>
